* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f4f4f4;
    background-size: cover;
    font-family: Poppins;
}

root {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

form {
    width: 100%;
    max-width: 400px;
    position: relative;
    padding: 80px 40px 40px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    color: #fff;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
    margin-top: 5%;
    margin-bottom: 5%;
    position: relative;
    left: 37%;
    bottom: 20%;
}

.form::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 10px;
    pointer-events: none;
}

.avatar {
    position: absolute;
    top: -50px;
    left: 38%;
    width: 100px;
    border-radius: 50%;
}

.form h2 {
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 2rem;
    color: white;
}

.form .input-grp {
    position: relative;
}

.inp {
    width: 100%;
    padding: 10px 0px;
    letter-spacing: 1px;
    font-size: 1rem;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    background-color: transparent;
    color: inherit;
}

.submit-btn {
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    justify-content: center;
    position: relative;
    left: 40%;
}

.logo-google {
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    justify-content: center;
    position: relative;
    margin-left: 60px;
    top: 20px;
}

.link {
    margin-left: 10px;
}

style.css Displaying style.css.